#search-form {
  margin-top: 30px;
}

.channel {
  margin-bottom: 50px;
}

.channel-results {
  list-style: none;
  padding: 0;
}

#subscription-controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

#subscription-controls button {
  padding: 10px 15px;
}

.twitter-icon {
  vertical-align: top;
}

.tweets-container {
  width: 800px;
}

.navbar-brand > a {
  color: #e4e4e4 !important;
}

.navbar-brand > a > img {
  filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, .5));
  -webkit-filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, .5));
}

.navbar-brand > a:hover, .navbar-brand > a:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}

.map {
  height: 500px;
  width: 100%;
}