<div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container navbar-container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="https://www.travismclarke.com/">
                        <img class="full-logo" src="img/ct.png" width="60" height="30"/>
                        TravisMClarke.com
                    </a>
                </div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>